/* 
* set the firefox interface font 
* NB: this setting does not change it completely
* the complete change is in the ./userContent.css file
*/


:root {
	--text-font: "SF Compact text";
	--code-font: "SF Mono";
}


* {
    font-family: var(--text-font) !important;
}


/* hides the tabbar on firefox */

#TabsToolbar {
    visibility: collapse;
}