/* 
sample to use

@-moz-document domain(domain.com) {
    *:not(.code, code, code > *, i, svg, .fa, .fas, .bwi, .scSharedMaterialbuttonroot) {
        font-family: var(--text-font) !important;
    }

	code *, .code :not(i, svg, .fa, .fas, .bwi, .scSharedMaterialbuttonroot) {
        font-family: var(--code-font) !important;
	}
}

} */



/*@-moz-document url(http://www.w3.org/),*/
/*url-prefix(http://www.w3.org/Style/),*/
/*domain(mozilla.org)*/
/*{*/
/* CSS rules here apply to:
   + The page "http://www.w3.org/".
   + Any page whose URL begins with "http://www.w3.org/Style/"
   + Any page whose URL's host is "mozilla.org" or ends with
     ".mozilla.org"
 */




:root {
	--text-font: "Circular Std Medium";
	--code-font: "Fira Code Medium";
}


/* add styles for all domains and then add exceptions to css `:not list` as i go, i no like stress */
@-moz-document url-prefix() {
	*:not(.code, code, code > *, i, svg, .fa, .fas, .bwi, .scSharedMaterialbuttonroot, span) {
		font-family: var(--text-font) !important;
	}

	code *,
	.code :not(i, svg, .fa, .fas, .bwi, .scSharedMaterialbuttonroot, span) {
		font-family: var(--code-font) !important;
	}
}

