/* 
* set the firefox interface font 
* NB: this setting does not change it completely
* the complete change is in the ./userContent.css file
*/


:root {
    --text-font: "circular std medium";
    --code-font: "fira code medium";
 }


* {
    font-family: var(--text-font) !important;
}


/* hides the tabbar on firefox */

#TabsToolbar {
    visibility: collapse;
}